<!--SEARCH-->
<div class="container">
    <h1 class="text-center titleMine" ng-controller="myController">{{title1}}</h1>
    <div class="row  block1">
        <div class=" col-md-6 col-md-offset-3">
            <div class="input-group input-group-lg">
                <input class="form-control block-center" ng-model="query" type="search" value="" placeholder="Search movies" id="example-search-input">
            </div>
        </div>
        <div class="row col-md-1">
            <div class="btn-group btn-group-lg">
                <button type="submit" class="btn btn-primary btn-group-lg">Search</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--FILMS-->
<div ng-controller="PopularController">
    <div class="row col-md-12  block-films ">
        <div class="col-sm-2 col-md-2 block2 " ng-repeat="movie in movies | filter : {title : query}">
            <div class="row">
                <img class="center-block" data-toggle="modal" data-target="#myModal" src="http://image.tmdb.org/t/p/w150/{{ movie.poster_path }}" width="80%" height="270px" />
                <footer class="center-block">{{movie.release_date}}</footer>
                <div class="container">
                    <div class="row" ng-repeat="movie in movies">
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">{{movie.title}}</h1>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{movie.overview}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




